#view-store
{
	font-family:sans-serif;
	font-weight:bolder;
	text-decoration:none;
}

#view-store-button
{
	outline:none;
	background-color:transparent;
	border:2px solid #000;
	padding:10px 15px 10px 15px;
	border-radius:5px;
	font-size:16px;
	text-transform:uppercase;
	position:absolute;
	bottom:30px;
}

#view-store-button:hover
{
	background-color:#000;
	color:#fff;
}

#product-area
{
	position:absolute;
	height:5em;
	width:90%;
	left:5%;
	overflow:hidden;
	box-shadow:inset 0 0 0 1px #00ff00;
}

#product-carosel
{
	width:100%;
	height:calc(100% - 2em);
	box-shadow:inset 0 0 0 1px #0000ff;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
}

.product-card
{
	width:25em;
	height:90%;
	position:absolute;
	z-index:10000;
	left:10px;
	top:5%;
	background-color:#fff;
	box-shadow:0 0 3px rgba(0,0,0,0.2);
	overflow:hidden;
}

.product-image
{
	width:22em;
	height:22em;
	box-shadow:inset 0 0 0 1px #000;
	position:absolute;
	top:1.5em;
	left:1.5em;
}

/*This will be the side description for smaller screens*/
.side-description
{
	position:absolute;
	z-index:1000;
	top:5%;
	box-shadow:inset 0 0 0 1px #000;
	font-family:sans-serif;
	font-weight:lighter;
	color:#000;
	overflow-x:hidden;
	overflow-y:scroll;
}

.side-description::-webkit-scrollbar
{
	display:none;
}

.buy-button-section
{
	background-color:#fff;
	width:100%;
	height:auto;
	overflow:hidden;
	box-shadow:inset 0 0 0 1px #000;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align:center;
}

.side-buy-button
{
	background-color:transparent;
	border:2px solid #000;
	border-radius:5px;
	outline:none;
	padding:5px 10px;
	font-size:14px;
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:10px;
}

.scroll-side-description
{
	width:100%;
	padding-top:1.5em;
	padding-bottom:1.5em;
	box-shadow:inset 0 0 0 1px #000;
}

.side-product-name
{
	font-size:16px;
	font-weight:bolder;
	text-transform:uppercase;
	margin:0px;
	margin-left:30px;
	margin-bottom:5px;
}

.side-product-price
{
	font-size:14px;
	font-weight:lighter;
	margin-top:5px;
	margin-left:30px;
	margin-bottom:5px;
}

.side-product-text
{
	width:90%;
	margin-top:5px;
	margin-left:30px;
	margin-bottom:5px;
	font-size:14px;
	font-weight:lighter;
}

.side-label
{
	font-size:14px;
	margin-top:5px;
	margin-left:30px;
	margin-bottom:5px;
	text-transform:uppercase;
}

.side-product-amount
{
	background-color:transparent;
	border:none;
	border-bottom:1px solid #000;
	outline:none;
	font-size:14px;
	width:3em;
}

.small-instructions
{
	width:22em;
	height:auto;
	padding-top:1.5em;
	padding-bottom:1.5em;
	position:absolute;
	overflow:hidden;
	top:23.5em;
	left:1.5em;
	text-align:center;
	font-family:sans-serif;
	font-weight:lighter;
	color:#000;
}

.small-text
{
	font-size:14px;
	font-weight:lighter;
	margin:0px;
	width:90%;
	margin-left:5%;
}


/*This is the normal side description*/
.product-description
{
	display:none;
	width:22em;
	height:calc(100% - 22em - 1.5em);
	position:absolute;
	left:1.5em;
	top:23.5em;
	box-shadow:inset 0 0 0 1px #000;
	font-family:sans-serif;
	color:#000;
	overflow:hidden;
}

.in-product-description
{
	width:100%;
	height:auto;
	position:absolute;
	top:0px;
	left:0px;
	box-shadow:inset 0 0 0 1px #000;
}

.product-name
{
	font-size:16px;
	font-weight:bolder;
	text-transform:uppercase;
	margin:0px;
	position:absolute;
}

.product-price
{
	font-size:14px;
	font-weight:lighter;
	margin:0px;
	position:absolute;
}

.product-text
{
	width:90%;
	position:absolute;
	left:5%;
	height:auto;
	overflow:hidden;
	font-size:14px;
	font-weight:lighter;
	margin:0px;
	box-shadow:inset 0 0 0 1px #000;
}

.amount-label
{
	font-size:14px;
	font-weight:lighter;
	text-transform:uppercase;
	position:absolute;
}

.product-amount
{
	background-color:transparent;
	font-size:14px;
	font-weight:lighter;
	width:3em;
	border:none;
	border-bottom:1px solid #000;
	outline:none;
	position:absolute;
}

.product-button
{
	padding:5px 10px;
	background-color:transparent;
	border:2px solid #000;
	outline:none;
	font-size:14px;
	text-transform:uppercase;
	margin:0px;
	position:absolute;
	border-radius:5px;
}

.product-button:hover
{
	background-color:#000;
	color:#fff;
}
