#home-display
{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background-color:#A6333F;
}

#inner-home
{
	width:100vw;
	height:100vh;
	position:relative;
}

#carosel-area
{
	width:90vw;
	height:80vh;
	position:absolute;
	left:5vw;
	top:10vh;
	overflow:hidden;
}

#in-carosel
{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

.product-card
{
	width:auto;
	height:auto;
	position:absolute;
	left:0px;
	transition-property:left;
	transition-duration:1s;
	transition-timing-function:linear;
}

.in-product-card
{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

.images-area,
.desc-area
{
	position:absolute;
}

/*This is the image area*/
.in-image
{
	position:relative;
	width:100%;
	height:100%;
}

.image-opts
{
	width:20%;
	height:80%;
	position:absolute;
	top:10%;
	left:5%;
	overflow:hidden;
}

.in-image-opts
{
	width:100%;
	height:100%;
	position:relative;
}

.top-more
{
	width:100%;
	height:2em;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#A6333F;
}

.more-button
{
	width:1em;
	height:1em;
	border-radius:50%;
	border:2px solid #fff;
	margin-top:calc((2em / 2) - ((1em + 4px) / 2));
	margin-left:calc((100% / 2) - ((1em + 4px) / 2));
}

.bottom-more
{
	width:100%;
	height:2em;
	overflow:hidden;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:#A6333F;
}

.image-roll
{
	width:100%;
	height:calc(100% - 4em);
	overflow:hidden;
	position:absolute;
	top:2em;
}

.more-image
{
	width:100%;
	box-shadow:inset 0 0 0 1px #fff;
	margin-bottom:5px;
	margin-top:5px;
	overflow:hidden;
}

.image-dis
{
	width:65%;
	box-shadow:inset 0 0 0 1px #fff;
	position:absolute;
	right:5%;
}



/*This is the description area*/
.in-desc
{
	position:relative;
	width:100%;
	height:100%;
}

.desc
{
	overflow:hidden;
	width:80%;
	position:absolute;
	left:10%;
	font-family:sans-serif;
	color:#fff;
}

.prod-name
{
	text-transform:uppercase;
	font-weight:bolder;
	font-size:20px;
}

.price
{
	font-weight:lighter;
	font-size:16px;
}

.amount-number
{
	background-color:transparent;
	font-size:16px;
	font-weight:lighter;
	width:3em;
	border:none;
	border-bottom:2px solid #fff;
	outline:none;
	color:#fff;
}

.amount-number::placeholder
{
	color:#fff;
}

.buy
{
	margin-top:30px;
	margin-bottom:30px;
	border-radius:10px;
	color:#fff;
	text-transform:uppercase;
	background-color:transparent;
	font-size:16px;
	padding:10px 10px 10px 10px;
	border:2px solid #fff;
	outline:none;
}

.buy:hover
{
	background-color:#fff;
	color:#A6333F;
}

#tracker-buttons
{
	width:8em;
	height:2em;
	position:absolute;
	overflow:hidden;
	bottom:30px;
	left:0px;
}

.tracker-area
{
	width:2em;
	height:2em;
	position:relative;
	overflow:hidden;
	float:left;
}

.tracker-icons
{
	position:absolute;
	top:0.5em;
	left:0.5em;
	background-color:#fff;
	border-radius:10px;
	height:1em;
	width:1em;
	transition-property:width left;
	transition-duration:0.15s;
	transition-timing-function:linear;
}

#view-store
{
	padding:10px 25px 10px 25px;
	color:#fff;
	font-family:sans-serif;
	font-weight:lighter;
	font-size:18px;
	text-transform:uppercase;
	background-color:transparent;
	outline:none;
	border:2px solid #fff;
	position:absolute;
	bottom:30px;
	border-radius:10px;
	left:0px;
}

#view-store:hover
{
	background-color:#fff;
	color:#A6333F;
}

#email-button
{
	position:absolute;
	bottom:30px;
	right:30px;
	height:40px;
	width:65px;
	overflow:hidden;
}

#email-button > img
{
	margin-left:1px;
	margin-top:1px;
}


