html, body
{
	width:100vw;
	height:100vh;
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
}

#company-header
{
	color:#fff;
	font-size:20px;
	font-family:sans-serif;
	text-transform:uppercase;
	font-weight:bolder;
	margin-top:0px;
	position:absolute;
	z-index:10000000000;
	left:30px;
	top:30px;
	cursor:default;
}

#thin
{
	font-size:16px;
	font-weight:lighter;
	text-transform:none;
}

#menu-background
{
	position:absolute;
	z-index:100000;
	width:100vw;
	top:0px;
	left:0px;
	background-color:#A6333F;
}

#menu-area
{
	position:absolute;
	top:0px;
	right:0px;
	z-index:1000000;
}

#in-menu-area
{
	position:relative;
	width:auto;
	height:100%;
}

#search-area
{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:auto;
	overflow:hidden;
}

#in-search-area
{
	position:relative;
	width:auto;
	height:auto;
	overflow:hidden;
}

#menu-search
{
	width:15em;
	border:none;
	border-bottom:2px solid #fff;
	font-size:18px;
	font-family:sans-serif;
	font-weight:lighter;
	background-color:transparent;
	outline:none;
	color:#fff;
	position:absolute;
}

#menu-search::placeholder
{
	color:#fff;
}

#search-button
{
	height:100%;
	position:absolute;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url("search-icon.png");
}

#link-area
{
	width:auto;
	position:absolute;
	top:0px;
	overflow:hidden;
}

#in-link-area
{
	width:auto;
	height:100%;
	position:relative;
}

#in-link-area > a
{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}

.menu-block
{
	height:100%;
	width:auto;
	overflow:hidden;
	position:absolute;
	text-align:center;
}

.menu-text
{
	font-size:18px;
	font-family:sans-serif;
	text-transform:uppercase;
}

