#store-display
{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background-color:#A6333F;
}

#inner-store
{
	width:100vw;
	height:100vh;
	position:relative;
}

#menu-cover
{
	width:100vw;
	height:auto;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#A6333F;
}

/*--------------------*/

#products-area
{
	width:80vw;
	height:auto;
	position:absolute;
	bottom:0px;
	right:30px;
	overflow-x:hidden;
	overflow-y:scroll;
}

#products-area::-webkit-scrollbar
{
	display:none;
}

#in-product-area
{
	width:100%;
	height:100%;
	position:relative;
}

.product-items
{
	position:absolute;
	box-shadow:inset 0 0 0 1px #fff;
}

.in-product
{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

/*---------------------*/
/*This is the options button*/

#options-button
{
	width:3em;
	height:3em;
	position:absolute;
	left:30px;
	border-radius:10px;
	background-color:#8C313A;
	display:none;
}

/*---------------------*/
/*This is the options block*/
#options-display
{
	position:absolute;
	left:30px;
	background-color:#8C313A;
}

#options-search-area
{
	width:100%;
	overflow:hidden;
}

.opts-titles
{
	font-weight:lighter;
	color:#fff;
	font-size:16px;
	font-family:sans-serif;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:30px;
}

#opts-search-area-block
{
	height:auto;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom:10px;
}

#opt-search
{
	background-color:transparent;
	font-weight:lighter;
	font-size:16px;
	font-family:sans-serif;
	border:none;
	border-bottom:2px solid #fff;
	outline:none;
	position:absolute;
	bottom:0px;
	left:30px;
	color:#fff;
}

#opt-search::placeholder
{
	color:#fff;
}

#search-opts-button
{
	position:absolute;
	bottom:0px;
	right:30px;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url("search-icon.png");
}

#checkbox-area
{
	width:100%;
	overflow:hidden;
}

#checkbox-title
{
	margin-top:10px;
}

#price-area
{
	width:100%;
	overflow:hidden;
}

#price-title
{
	margin-top:10px;
}


