#store-display
{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background-color:#A6333F;
}

#inner-store
{
	width:100vw;
	height:100vh;
	position:relative;
}

#menu-cover
{
	width:100vw;
	height:auto;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#A6333F;
}

/*--------------------*/

#products-area
{
	width:80vw;
	height:auto;
	position:absolute;
	bottom:0px;
	right:30px;
	overflow-x:hidden;
	overflow-y:scroll;
}

#products-area::-webkit-scrollbar
{
	display:none;
}

#in-product-area
{
	width:100%;
	height:100%;
	position:relative;
}

.product-items
{
	position:absolute;
}

.in-product
{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

.ind-product-area
{
	height:100%;
	width:70%;
	overflow:hidden;
	margin-left:15%;
	text-align:center;
}

.product-image
{
	width:100%;
	margin-top:30px;
	margin-bottom:10px;
	box-shadow:inset 0 0 0 1px #fff;
}

.product-name
{
	font-family:sans-serif;
	font-size:18px;
	font-weight:bolder;
	color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	text-transform:uppercase;
}

.product-price
{
	font-family:sans-serif;
	font-size:16px;
	font-weight:lighter;
	color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	text-transform:uppercase;
}

.division
{
	width:60%;
	height:2px;
	background-color:#fff;
	margin-left:20%;
	margin-top:10px;
	margin-bottom:10px;
}

.view-prod,
.buy-prod
{
	font-family:sans-serif;
	font-weight:bold;
	font-size:18px;
	background-color:transparent;
	border:2px solid #fff;
	outline:none;
	color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px 10px 5px 10px;
	border-radius:5px;
}

/*---------------------*/
/*This is the options button*/

#options-button
{
	width:3em;
	height:3em;
	position:absolute;
	left:30px;
	border-radius:10px;
	background-color:#8C313A;
	display:none;
}

/*---------------------*/
/*This is the options block*/
#options-display
{
	position:absolute;
	left:30px;
	background-color:#8C313A;
}

#options-search-area
{
	width:100%;
	overflow:hidden;
}

.opts-titles
{
	font-weight:lighter;
	color:#fff;
	font-size:16px;
	font-family:sans-serif;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:30px;
}

#opts-search-area-block
{
	height:auto;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom:10px;
}

#opt-search
{
	background-color:transparent;
	font-weight:lighter;
	font-size:16px;
	font-family:sans-serif;
	border:none;
	border-bottom:2px solid #fff;
	outline:none;
	position:absolute;
	bottom:0px;
	left:30px;
	color:#fff;
}

#opt-search::placeholder
{
	color:#fff;
}

#search-opts-button
{
	position:absolute;
	bottom:0px;
	right:30px;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url("search-icon.png");
}

#checkbox-area
{
	width:100%;
	overflow:hidden;
}

#checkbox-title
{
	margin-top:10px;
}

#price-area
{
	width:100%;
	overflow:hidden;
}

#price-title
{
	margin-top:10px;
}

#select-price
{
	font-weight:lighter;
	font-size:16px;
	color:#fff;
	font-family:sans-serif;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:30px;
	width:80%;
}

#between-area
{
	width:100%;
	height:auto;
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	overflow:hidden;
}

#lower-price,
#high-price
{
	background-color:transparent;
	border:none;
	border-bottom:2px solid #fff;
	color:#fff;
	font-family:sans-serif;
	font-weight:lighter;
	font-size:16px;
	outline:none;
	width:5em;
	position:absolute;
	bottom:0px;
}

#and
{
	font-weight:lighter;
	font-size:16px;
	color:#fff;
	font-family:sans-serif;
	margin:0px;
	position:absolute;
	bottom:2px;
}

#apply-price
{
	font-family:sans-serif;
	font-weight:lighter;
	font-size:16px;
	outline:none;
	text-transform:uppercase;
	color:#fff;
	background-color:transparent;
	border:2px solid #fff;
	margin-top:10px;
	margin-bottom:20px;
	border-radius:10px;
	margin-left:30px;
	padding:5px 10px 5px 10px;
}

#apply-price:hover
{
	background-color:#fff;
	color:#8C313A;
}


